<section>
  <h1>Chat Bot</h1>
  <h2>with Web Speech</h2>

  <button><i class="fa fa-microphone"></i></button>

  <div>
      <p>You said: <em class="output-you">...</em></p>
      <p>Bot replied: <em class="output-bot">...</em></p>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script src="js/script.js"></script>
